{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}

    <!-- entertainment source section  -->
    <h3> entertainment news</h3>
     <ul>
        {{ macro. displayNewsList(entertainment)}}
        <p><a href="/articles/{{entertainment.id}}">Read Articles</a></p>   
    </ul>
    <h3> business news</h3>
     <ul>
        {{ macro. displayNewsList(business)}}
        <p><a href="/articles/{{business.id}}">Read Articles</a></p>   
    </ul>
    
{% endblock%}