{% macro displayNewsList(source_list) %}

    {% for source in source_list %}
        <li>{{ source.name}}</li>
        <li>{{source.description}}</li>
        <li>{{ source.url}}</li>
        <li>{{ source.category}}</li>
        <li>{{ source.language}}</li>
        <li>{{ source.country}}</li>
    {% endfor %}

{% endmacro %}

{% macro displayArticles(articles_list) %}

    {% for article in articles_list %}
        <li>{{ article.author}}</li>
        <li>{{ article.title}}</li>
        <li>{{ article.description}}</li>
        <li>{{ article.content}}</li>
        <li>{{ article.url}}</li>
        <li>{{ article.publishedAt}}</li>
    {% endfor %}

{% endmacro %}

